* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2c58;
  background-image: url("https://www.gexaenergy.com/content/gexaenergy/us/en/large-business/renewables-reliability/energy-reliability/mainspring/_jcr_content/root/responsivegrid/gexacontainer_copy_1/gexacontainer_copy_2/image.coreimg.svg/1631562990308/mainspring-technical-drawing.svg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: sans-serif;
}

h1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
  text-decoration: underline #f35d00;
  font-size: 75px;
  margin-bottom: 200px;
}

button {
  color: #01a9f7;
  color: #2b2c58;
  background-color: rgb(235, 234, 234);
  border: solid 5px #f35d00;
  border-radius: 25px;
  font-family: sans-serif;
  width: 250px;
  height: 250px;
  text-align: center;
  line-height: 250px;
  text-decoration: underline white 4px;
  text-decoration: #f35d00 4px;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 150px;
}

button:hover {
  border: solid white 5px;
  text-decoration: underline #f35d00 4px;
  background-color: #2b2c58;
  color: white;
}

footer {
    margin-top: auto;
    text-align: center;
}
